.character-sidebar {
  min-height: 230px;
  width:567px;
  margin: auto;
  background-color: rgb(32, 10, 4);
  position: static;
  display: flex;
  align-content: center;
  justify-content: space-evenly;
  border: solid 1px gold
}


