.modifier-card {
  background-color: rgb(71, 0, 73);
  border: rgb(255, 208, 0) solid .1px;
  min-width: 185px;
  max-width: 180px;
  min-height: 140px;
  text-align: center;
  box-shadow: 10px 10px 5px rgb(41, 41, 41); 
  animation: 
  stretch
  4s
  ease-out
  0s
  alternate
  infinite
  none
  running;
}